[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
argparsedirs = "*"
dotmap = "*"
colorama = "*"
schema = "*"
scalyca = "*"
setuptools = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
pyinstaller = "*"

[requires]
python_version = "3.12"
